<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm py-3 custom-navbar">
    <div class="container">
        <a class="navbar-brand fw-bold text-white" href="{% url 'recipe_list' %}">Meal Prep Recipe Hub</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link text-white fw-semibold" href="{% url 'recipe_list' %}">Browse</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white fw-semibold" href="{% url 'my_favourites' %}">Favourites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fw-semibold" href="{% url 'my_recipes' %}">My Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fw-semibold" href="{% url 'weekly_plan' %}">Weekly Plan</a>
                    </li>
                    <li class="nav-item ms-lg-3">
                        <a class="btn btn-outline-light" href="{% url 'create_recipe' %}">+ Add Recipe</a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <form method="post" action="{% url 'logout' %}" class="m-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white fw-semibold" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="btn btn-light fw-semibold" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
